<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<!--<img class="img-responsive" src="images/portfolio/portfolio-details.jpg" alt="">-->
    <div style="text-align:center;">
        <iframe width="1200" height="800" src="https://www.youtube.com/embed/iRmTHQjWDMw?autoplay=1">"></iframe>
    </div>
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h3>Administrador de Inventarios</h3>
					<p>Esta plataforma puede ser moldeada exclusivamente para tu negocio ya que cuenta con validaciones que te permitirán llevar el control de las entradas y salidas de tu empresa.</p>
					<p>El Administrador de Inventario cuenta con diversos niveles administrativos, generación de indicadores de negocio, generación de Notas de cargo, etc</p>
					<p>Recuerda que tu eres quien pone los límites ya que podemos dotarte de la herramienta más potente que tu negocio necesita.</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Software Details</h3>
					<p><span>Author:  </span>SINDICIUM TECHNOLOGIES</p>
					<p><span>Release date:  </span> 11-jun-2016</p>
					<p><span>Tag:</span> Inventory</p>
				</div>
			</div>
		</div>
	</div>
</div>
